<%- include('partials/head', {'title': product.name}) %>
<% 
var isdisabled="disabled";
var buyString = "Login to Buy"
if(locals.user) {
    isdisabled="";
    buyString = "Buy Now";
}
%>

<nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a href="<%-baseUrl %>">Products</a></li>
          <li class="is-active"><a href="<%-baseUrl %>/item/<%-product.id %>" aria-current="page"><%-product.name %></a></li>
        </ul>
</nav>
<br>
<div class="columns" id="app">
    <div class="column is-half">
        <figure class="image is-square">
                <img src="<%-baseUrl %>/uploads/<%-product.picture %>">
        </figure>
    </div>
    <div class="column is-half">
            <h2 class="title is-2"><%-product.name%></h2>
            <p>
                <%-product.descr %>
            </p>
            <br>
            <form method="post" action="/buy">
            <input type="hidden" name="product" value="<%-product.id %>">
            <div class="field has-addons">
                    <div class="control">
                            <a class="button" @click="qty<=1? 1 : --qty">
                              -
                            </a>
                          </div>
                    <div class="control">
                      <input class="input" name="qty" type="text" style="width: 100px;" v-model="qty" @keyup="changed">
                    </div>
                    <div class="control">
                      <a class="button" @click="qty>=max? max : ++qty">
                        +
                      </a>
                    </div>
                  </div>

            <button class="button is-large is-success" <%=isdisabled %> :disabled="max<=0" ><%-buyString %></button>
            <h2 class="subtitle is-5 has-text-grey-light"><%=product.stock %> Left in stock</h2>
        </form>
            <br>
            
            
            <hr>
            
            
    </div>
</div>

<script src="<%=baseUrl %>/js/vue.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            qty : 1,
            max : <%-product.stock %>
        },
        methods: {
            changed() {
                if(isNaN(this.qty) || this.qty<=0) {
                    this.qty = 1
                }
                if(this.qty>this.max) {
                    this.qty = this.max
                }
            }
        }
    })
</script>
<%- include('partials/foot') %>
