<%- include('partials/head', {'title': "Orders"}) %>

<% 
    var myorders = orders.filter((item)=>{
        return item.status == "ordered"
    })

    var delivered = orders.filter((item)=>{
        return item.status == "delivered"
    })
%>

<h2 class="title is-2">Orders</h2>

<% myorders.forEach((item,index)=> { 
    myDate = new Date(item.date)

    %>

    <div class="box">
            <div class="columns">
                <div class="column is-1">
                    <figure class="image is-square">
                        <img src="<%-baseUrl %>/uploads/<%-item.picture %>">
                    </figure>
                </div>
                <div class="column">
                        <h3 class="title is-3">#<%-item.oid %> <%-item.name %> x<%-item.qty %></h3> 
                        Ordered on: <%-myDate.toString().split(" ").reduce((acc, newv, indx)=> {
                            if(indx<=3)
                            return acc+" "+newv
                            else
                            return acc
                        })  %>
                </div>
                <div class="column is-4">
                    <a href="<%-baseUrl+'/orders/'+item.oid+'/confirm' %>" class="button is-warning is-large is-fullwidth">Order Received</a>
                </div>
            </div>
    </div>

<% })
if (myorders.length <= 0) { %>
    <h2 class="subtitle has-text-grey-light has-text-centered is-2">Nothing to show here</h2>
<% } %>

%>


<h2 class="title is-2">Delivered</h2>

<% delivered.forEach((item,index)=> { 
    myDate = new Date(item.date)
    %>

    <div class="box">
            <div class="columns">
                <div class="column is-1">
                    <figure class="image is-square">
                        <img src="<%-baseUrl %>/uploads/<%-item.picture %>">
                    </figure>
                </div>
                <div class="column">
                        <h3 class="subtitle is-3">#<%-item.oid %> <%-item.name %> x<%-item.qty %></h3> 
                        Ordered on: <%-myDate.toString().split(" ").reduce((acc, newv, indx)=> {
                            if(indx<=3)
                            return acc+" "+newv
                            else
                            return acc
                        })  %>
                </div>
            </div>
    </div>

    <% })
    if (delivered.length <= 0) { %>
        <h2 class="subtitle has-text-grey-light has-text-centered is-2">Nothing to show here</h2>
    <% } %>

<%- include('partials/foot') %>
