<% 
var isdisabled="disabled";
var buyString = "Login to Buy"
if(locals.user) {
    isdisabled="";
    buyString = "";
}
%>
<div class="container">
    <div class="columns is-multiline">

        <% 
        products.forEach((item,index) => { 
        %>
        <div class="column is-one-quarter">
        <a href="/item/<%=item.id %>">
            <div class="prod">
                    <div class="card">
                            <div class="card-image">
                              <figure class="image is-4by3">
                                <img src="<%-baseUrl %>/uploads/<%=item.picture %>" alt="Placeholder image">
                              </figure>
                            </div>
                            <div class="card-content">         
                              <div class="content">
                                <h3 class="title"><%=item.name %></h3>
                                <!-- <a href="#" class="button is-block is-success" <%=isdisabled %> >Buy Now</a> -->
                                <code>
                                <% if(!locals.user) { %>
                                <%=buyString %>
                                <% } else{ %>
                                <%=item.stock %> Left in stock
                                <% } %>
                                </code>
                              </div>
                            </div>
                     </div>
            </div>
        </a>
        </div>
        <%  }); %>


    </div>
</div>